html {
  color: #c0c0c0;
  /* height: 100vh;
  width: auto; */
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  height: 99vh;
  width: 100vw;
  background: url('media/background2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

section {
  padding-top: 1vh;
}

section.home a {
  text-decoration: none;
  color: #c0c0c0;
}

section.home {
  color: #c0c0c0;
  padding-top: 15vh;
  padding-bottom: 0vh;
  align-items: center;
  text-align: center;
  height: 100vh;
}

body.home section.home img {
  max-width: 300px;
  height: auto
}

section.header {
  padding-top: 70px;
  background-color: #0000003d;
  text-align: center;
  height: 170px;
}

section.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  width: auto;
  align-items: center;
}

/* @media screen and (max-width: 800px) { */
  .bottom {
    padding-bottom: 15vh;
  }
/* } */

object.pdf {
  padding-right: 15px;
}

.images {
  padding: 5px;
  max-height: 500px;
  width: auto;
}

.vert-stacked-images {
  padding: 5px;
  max-height: 250px;
  width: auto;
}

footer {
  padding-top: 10px;
  padding-bottom: 0;
  background-color: #000000ee;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: x-small;
}

footer a {
  padding-left: 10px;
  padding-right: 10px;
}

section.contact {
  text-align: center;
  padding-top: 2vh;
}

section.contact p.images {
  padding-top: 3vh;
}

section.contact p.images a {
  padding: 3vh;
}

section.contact a.btn {
  margin: 4vh;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;  
}

audio {
  margin-bottom: 30px;
}