html {
  color: #c0c0c0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  height: 99vh;
  width: 100vw;
  background: url('media/background2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

section {
  padding-top: 1vh;
}

section.header {
  padding-top: 70px;
  background-color: #0000003d;
  text-align: center;
  height: 170px;
}

section.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  width: auto;
  align-items: center;
}

.bottom {
  padding-bottom: 15vh;
}

object.pdf {
  padding-right: 15px;
}

.images {
  max-height: 500px;
  width: auto;
}

.vert-stacked-images {
  padding: 5px;
  max-height: 250px;
  width: auto;
}

footer {
  padding-top: 10px;
  padding-bottom: 0;
  background-color: #000000ee;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: x-small;
}

footer a {
  padding-left: 10px;
  padding-right: 10px;
}

section.contact a.btn li:hover {
  transition-duration: 1s;
  background-color: #000000;
}

audio {
  margin-bottom: 30px;
}

iframe { 
  width: 100%;
  aspect-ratio: 16 / 9;
}
